<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnCuoiKy.Properties.Settings.connStr" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=DoanCuoiKy;Integrated Security=True" />
        <add name="DoAnCuoiKy.Properties.Settings.DoAnCuoiKy2024ConnectionString"
            connectionString="Data Source=PHUC-PC\SQLEXPRESS;Initial Catalog=DoAnCuoiKy2024;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>